<section id="twilio-client" class="hidden" data-app-id="<%=twilio_app_id%>">
	<input type="text" id="number" name="number"
	      placeholder="Enter a phone number to call"/>

	<button class="call">
	      Call
	</button>

	<button class="hangup hidden">
	    Hangup
	</button>
</section>

<ul id="people"></ul>

<div id="log"></div>